MONGODB_URI=
NEXT_PUBLIC_BASE_URL=


RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
NEXT_PUBLIC_RAZORPAY_KEY_ID=

# NextAuth
NEXTAUTH_URL=
NEXTAUTH_SECRET=

# Admin credentials (used in NextAuth CredentialsProvider)
ADMIN_EMAIL=
ADMIN_PASSWORD=
